<%- include('electionCard', {title: "Your Elections", elections: elections, id: "elections"}) %>
</div>
<%- include('electionCard', {title: "Live Elections", elections: liveElections, id: "live-elections"}) %>
<div>